ul.hr {
  margin: 0;  
  padding: 4px;  
}
ul.hr li {
  display: inline; 
  margin-right: 5px;  
  border: 1px solid #000; 
  padding: 3px;  
}
.box button.btn {
  padding: 2px 6px;
  border-radius: 0;
  vertical-align: unset;
}
.box button.btn:last-child {
  border-radius: 0 .25rem .25rem  0 ;
}
.activPagin {
  /* box-shadow: 0 0 0 0.2rem rgba(130,138,145,.7) */
  background-color: rgba(56, 195, 216, 0.5);
}
.activButton {
  transform: scale(1.1);
}
.LimitMenu {
  margin: 10px 5px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.inline-block {
  display: inline-block;
}
.AuthorMenu div.box {
  position: relative;
  margin: 5px 10px;
}

.b-container{
  width:200px;
  height:150px;
  background-color: #ccc;
  margin:0px auto;
  padding:10px;
  font-size:30px;
  color: #fff;
}
.b-popup{
  width:100vw;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.b-popup .b-popup-content{
  width:50%;
  height:auto;
  margin:40px auto 40px auto;
  padding:10px;
  background-color: #E9ECEF;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}
#react-container {
  margin: 5px 10px;
}
.Toggle .head button {
  margin: 0px 5px 10px 0px;
}
.Pool {
  margin: 5px 0;
}
.Pool .jumbotron {
  margin: 15px 0;
  padding: 10px 0 10px 0;
  font-size: 1rem;
 
}
.Pool .jumbotron h1,h2 {
  margin-right: 10px;
  margin-bottom: 0;
  
}
.Pool button {
  margin-bottom: 5px;
}
