ul.hr {
  margin: 0;  
  padding: 4px;  
}
ul.hr li {
  display: inline; 
  margin-right: 5px;  
  border: 1px solid #000; 
  padding: 3px;  
}
.activPagin {
  border: 1px solid rgb(226, 57, 57);
} 
.left {
  float: left;
}
.right {
  float: right;
}
.AuthorMenu div.box {
  position: relative;
  margin: 5px 10px;
}

.b-container{
  width:200px;
  height:150px;
  background-color: #ccc;
  margin:0px auto;
  padding:10px;
  font-size:30px;
  color: #fff;
}
.b-popup{
  width:100vw;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.b-popup .b-popup-content{
  width:50%;
  height:auto;
  margin:40px auto 40px auto;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}
